variables:
  MONGO_URI: 'mongodb://mongo/blue-ivory-3'

image: node:latest

services:
  - mongo:latest

# cache:
#   untracked: true
#   key: "$CI_BUILD_REF_NAME"
#   paths:
#     - node_modules/

stages:
  - setup
  - build
  - test

setup:
  stage: setup
  script:
    - npm install --silent
  artifacts:
    paths:
      - node_modules/
  tags:
    - blue-ivory-server

build:
  stage: build
  script:
    - tsc --pretty
  artifacts:
    - dist/
  tags:
    - blue-ivory-server

test:
  stage: test
  script:
    - mocha dist/**/spec.helper.js dist/**/*.spec.js
  tags:
    - blue-ivory-server